body{
    margin:0;
}
.container{
display: flex;
justify-content: center;

}
.title{
    margin : 0;
    font-size: 56px;
    font-family: Consolas;
    text-align: center;
}
.button{
    width: 200px;
    height: 45px;
    border: 1px solid black;
    background-color: black;
    margin-top: 40px;
    cursor:pointer;
    color:white;
    margin-bottom:40px;
    font-size:30px;
}
.button:hover{
    background-color: white;
    color: black;

} 
.button:active{
    transform: scale(0.9);
}
.counter{
    margin-top:40px;
    font-size: 40px;
}
.Gera{
    font-size: 200px;
    background-color: brown;
}